:root {
    --color-red: rgb(247, 74, 74);
    --color-silver: rgb(225, 225, 225);
    --color-nuetral-light: #94ceca;
    --color-nuetral-mid: rgb(86, 129, 161);
    --color-nuetral-dark: rgb(24, 60, 93);
    --font-family-primary: "Nunito Sans", sans-serif;
    --font-family-secondary: "Bitter", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-red);
    color: #F4F1ED;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header img {
    height: 80px;
    margin-right: 1rem;
    border-radius: 20px;
}


/* === Navigation (put media max to avoid styling override when flexing to larger screen) === */
@media screen and (max-width: 768px) {
    #menu-toggle {
        font-family: var(--font-family-secondary);
        display: block;
        font-size: 2rem;
        background: none;
        color: black;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: 2px solid black;
        border-radius: 5px;
        width: 75px;
        padding: 5px;
    }

    nav ul {
        list-style: none;
        display: none;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        margin: 0;
        gap: 1rem;
    }

    nav ul.show {
        display: flex;
        border: 2px solid var(--color-silver);
        border-radius: 8px;
        margin: 2px;
    }

    nav a {
        color: var(--color-nuetral-dark);
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: var(--color-nuetral-light);
        color: #2C2C2C;
    }

    #alertPage,
    #home-page,
    #work {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

}

/* Tables */
.table-container {
  overflow-x: auto;  /* Enables horizontal scrolling if needed */
  -webkit-overflow-scrolling: touch;  /* Smooth scrolling on iOS */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(225, 225, 225, 0.703);
    border-radius: 5px;
    margin: 0 auto;
    font-family: var(--font-family-secondary);
}

.thead {
    padding: 10px;
    font-size: 2rem;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(247, 74, 74, 1));
    border-radius: 5px;
    border: none !important;
    font-family: var(--font-family-primary);
}

th,
td {
    padding: 10px;
    border: 1px solid var(--color-silver);
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}

table img {
    display: block;
    max-width: 60px;
    height: auto;
}

.deleteBtn {
    font-size: 1rem;
    color: black;
}

.deleteBtn:hover {
    background-color: rgba(5, 168, 5, 0.51);
    border: none;
    border-radius: 5px;
}


/* === Wayfinder === */
.active {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


/* Style the h1 inside main as a page title */
main h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
}

main {
    margin: 5px;
}

/* === Home Page === */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
    margin: 5px 0;
}

.employee, 
.weather {
    display: block;
    background-color: var(--color-nuetral-light);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-family: var(--font-family-primary);
    flex: 1;
}

.weather {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather image {
    max-width: 50px;
    height: auto;
}

.employee p{
    font-size: 1.5rem;
}


.figs {
    display: flex;
    flex-wrap: wrap;
}

figure {
    max-width: 400px;
    background-color: var(--color-silver);
    border: 1px solid var(--color-nuetral-mid);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-family: var(--font-family-secondary);
}

figure img {
    display: block;
    max-width: 325px;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 1rem;
}

figcaption {
    font-weight: bold;
}

figure p {
    font-style: italic;
}

figcaption,
figure p {
    text-align: center;
    padding: 5px;
}

/* Alerts Modal Dialog */
#openModalBtn {
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--color-nuetral-light);
    border: none;
    border-radius: 10px;
    margin: 2rem;
    margin-left: 10px;
}

.modal-content {
    position: fixed;
    top: 3vh;
    /* adjusted to fit form within vh */
    left: 50%;
    /* center horizontally */
    transform: translateX(-50%);
    overflow: auto;
    /* should fix it to scroll */
    display: flex;
    flex-direction: column;
    background-color: var(--color-silver);
    font-family: var(--font-family-secondary);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    font-family: var(--font-family-primary);
}

legend {
    font-family: var(--font-family-secondary);
}

.modal-content h3 {
    font-family: var(--font-family-primary);
    padding: .5rem;
    margin-left: .5rem;
}

#alertForm label,
.label {
    margin-bottom: .25rem;
    margin-top: .25rem;
    font-family: var(--font-family-primary);
}

#alertForm p {
    margin-left: 0;
    font-family: var(--font-family-primary);
}

.close {
    width: 44px;
    height: 34px;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.addAlertBtn {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    margin-right: 1rem;
    float: right;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

/* Site Plan styling*/
h2 {
    font-family: var(--font-family-primary);
    margin: 3px;
}

p,
main li {
    font-family: var(--font-family-secondary);
    margin: 1rem;
}

main li {
    font-style: italic;
    margin-left: 4rem;
}

/* --- Footer --- */
footer {
    background-color: var(--color-nuetral-light);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

footer .icons img {
    width: 44px;
    height: 44px;
    padding: 5px;
}

.icons a:hover {
    background-color: var(--color-red);
    border-radius: 45%;
}